<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <script data-ad-client="ca-pub-9502423373304982" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a2a4ccf3b.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")

</head>
<body>
    
    <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Intro")">首頁</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="justify-content:center">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Intro", "Intro")">自我介紹</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Ptt爬蟲</a>
                    </li>
                </ul>
                <a class="navbar-nav flex-row ml-md-auto d-none d-md-flex btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="@Url.Action("Logout", "Home")">登出</a>

            </div>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
