
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
   
    </script>
<title>@Model.Title</title>
<div class="content">
    <div class="main-info">
        標題:<span>@Model.Title</span>
        作者:<span>@Model.Author</span>
        發文時間:<span>@Model.ContentDateTime</span>
    </div>
    @Model.MainContent
    @foreach(string a in Model.link)
    {
        <img src="@a"/>
    }
</div>
